In [1]:
# All libraries needed
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import json as js

Read competitions file to know the FA Women cup id and all the informations

In [2]:
f = open('./data/competitions.json')
  
data = js.load(f)

compet = {}

for i in range(len(data)):
    if (data[i]['competition_name'] == "FA Women's Super League"):
        compet[i] = data[i]

f.close()

Open matches file from competition selected

In [16]:
for i in compet:
    f = open('./data/matches/%s/%s.json' %(compet[i]['competition_id'], compet[i]['season_id']))

    data = js.load(f)

    matches_home = {}
    matches_away = {}

    for j in range(len(data)):
        if data[j]['home_team']['home_team_name'] == "West Ham United LFC":
            matches_home[i,j] = data[j]
        if data[j]['away_team']['away_team_name'] == "West Ham United LFC":
            matches_away[i,j] = data[j]


    f.close()

Ideas of individual stats visualisation:
- Ordering of distance runned and speed of all players and for the entire season (average by match played)
- Heatmap for the entire season
- all shots scored / missed for the entire season

Ideas of team stats visualisation:
- Schemes of passes when a goal was scored
- Prefered passes between players

In [17]:
# Open lineups files, where the players' details are
# (if they started the match, if they were substitued during the match, their number, etc.)

lineups_home = {}
lineups_away = {}

for i in matches_home:
    f = open('./data/lineups/%s.json' %matches_home[i]['match_id'])
    lineups_home[i] = js.load(f)
    f.close()

for i in matches_away:
    f = open('./data/lineups/%s.json' %matches_away[i]['match_id'])
    lineups_away[i] = js.load(f)
    f.close()

In [29]:
# Open events data

events_home = {}
events_away = {}

for i in matches_home:
    f = open('./data/events/%s.json' %matches_home[i]['match_id'])
    events_home[i] = js.load(f)
    f.close()

for i in matches_away:
    f = open('./data/events/%s.json' %matches_away[i]['match_id'])
    events_away[i] = js.load(f)
    f.close()

#get the nested structure into a dataframe 
#store the dataframe in a dictionary with the match id as key (remove '.json' from string)
from pandas.io.json import json_normalize

df = {}

for i in matches_home:
    df[i] = json_normalize(events_home[i], sep = "_").assign(match_id = matches_home[i]['match_id'])

#A dataframe of shots
#shots = df.loc[df['type_name'] == 'Shot'].set_index('id')

/home/cseceh/anaconda2/lib/python3.7/site-packages/ipykernel_launcher.py:23: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

{(17,
  15):                                         id  index  period     timestamp  \
 0     58bb5658-80a5-4b17-86a0-20111ab91353      1       1  00:00:00.000
 1     bbad0c35-aef8-40bf-b213-226e86c5f2f7      2       1  00:00:00.000
 2     74511f98-3f74-4691-bcc9-6bc7100bc0aa      3       1  00:00:00.000
 3     604d7a26-34c1-4542-91b6-1ba1daf9b619      4       1  00:00:00.000
 4     45ff8284-9847-4ddd-8f1c-6c288926fe76      5       1  00:00:01.081
 ...                                    ...    ...     ...           ...
 3033  7a9515ab-6597-47f4-a691-6191c8f5fa67   3034       2  00:53:12.710
 3034  554206a9-1614-4455-8f25-66b5dcb66735   3035       2  00:53:16.573
 3035  af731085-0e1b-4434-93ad-e789037cdd9f   3036       2  00:53:19.468
 3036  94adeca9-da92-43fa-87af-40d03e95960a   3037       2  00:53:24.108
 3037  bd318082-e3fb-48ef-b578-a381dcca545b   3038       2  00:53:24.108

       minute  second  possession  duration  type_id    type_name  ...  \
 0          0       0           1  0.000000       35  Starting XI  ...
 1          0       0           1  0.000000       35  Starting XI  ...
 2          0       0           1  0.000000       18   Half Start  ...
 3          0       0           1  0.000000       18   Half Start  ...
 4          0       1           2  1.532667       30         Pass  ...
 ...      ...     ...         ...       ...      ...          ...  ...
 3033      98      12         190  3.863238       43        Carry  ...
 3034      98      16         190  2.894600       30         Pass  ...
 3035      98      19         190  0.000000        9    Clearance  ...
 3036      98      24         190  0.000000       34     Half End  ...
 3037      98      24         190  0.000000       34     Half End  ...

       substitution_replacement_id substitution_replacement_name  \
 0                             NaN                           NaN
 1                             NaN                           NaN
 2                             NaN                           NaN
 3                             NaN                           NaN
 4                             NaN                           NaN
 ...                           ...                           ...
 3033                          NaN                           NaN
 3034                          NaN                           NaN
 3035                          NaN                           NaN
 3036                          NaN                           NaN
 3037                          NaN                           NaN

       foul_committed_card_id foul_committed_card_name  50_50_outcome_id  \
 0                        NaN                      NaN               NaN
 1                        NaN                      NaN               NaN
 2                        NaN                      NaN               NaN
 3                        NaN                      NaN               NaN
 4                        NaN                      NaN               NaN
 ...                      ...                      ...               ...
 3033                     NaN                      NaN               NaN
 3034                     NaN                      NaN               NaN
 3035                     NaN                      NaN               NaN
 3036                     NaN                      NaN               NaN
 3037                     NaN                      NaN               NaN

      50_50_outcome_name  off_camera foul_committed_offensive  \
 0                   NaN         NaN                      NaN
 1                   NaN         NaN                      NaN
 2                   NaN         NaN                      NaN
 3                   NaN         NaN                      NaN
 4                   NaN         NaN                      NaN
 ...                 ...         ...                      ...
 3033                NaN         NaN                      NaN
 3034                NaN         NaN                      NaN
 3035                NaN         NaN                      NaN
 3036                NaN         NaN                      NaN
 3037                NaN         NaN                      NaN

      injury_stoppage_in_chain match_id
 0                         NaN    19740
 1                         NaN    19740
 2                         NaN    19740
 3                         NaN    19740
 4                         NaN    19740
 ...                       ...      ...
 3033                      NaN    19740
 3034                      NaN    19740
 3035                      NaN    19740
 3036                      NaN    19740
 3037                      NaN    19740

 [3038 rows x 104 columns],
 (17,
  23):                                         id  index  period     timestamp  \
 0     77cda705-e93b-4917-94e2-6db7d08d4afc      1       1  00:00:00.000
 1     7e174f7f-802c-4fe7-8880-4186a24e8824      2       1  00:00:00.000
 2     d637c912-fdf1-4163-8873-2933a27aa5f8      3       1  00:00:00.000
 3     edd1bbc7-d778-4c6a-9deb-234f3f19520a      4       1  00:00:00.000
 4     681596ac-3cf4-482a-a868-5a93fa51e04d      5       1  00:00:00.438
 ...                                    ...    ...     ...           ...
 3226  db2cc323-d8a1-409a-a57f-ce876eafd6e5   3227       2  00:48:59.374
 3227  f58c5c00-c9d2-4dd6-94bd-140e231fd39f   3228       2  00:49:01.477
 3228  92b6b34a-701a-4e8d-93a6-221615f937bc   3229       2  00:49:01.517
 3229  230256e4-06d2-4417-8291-d18b0cc4d482   3230       2  00:49:02.212
 3230  29edaca5-8ddb-4914-a1a1-2d2d0deeebb8   3231       2  00:49:02.212

       minute  second  possession  duration  type_id      type_name  ...  \
 0          0       0           1  0.000000       35    Starting XI  ...
 1          0       0           1  0.000000       35    Starting XI  ...
 2          0       0           1  0.000000       18     Half Start  ...
 3          0       0           1  0.000000       18     Half Start  ...
 4          0       0           2  1.264216       30           Pass  ...
 ...      ...     ...         ...       ...      ...            ...  ...
 3226      93      59         175  2.103034       30           Pass  ...
 3227      94       1         175       NaN       42  Ball Receipt*  ...
 3228      94       1         175  1.962114       30           Pass  ...
 3229      94       2         175  0.000000       34       Half End  ...
 3230      94       2         175  0.000000       34       Half End  ...

       foul_won_defensive miscontrol_aerial_won  substitution_outcome_id  \
 0                    NaN                   NaN                      NaN
 1                    NaN                   NaN                      NaN
 2                    NaN                   NaN                      NaN
 3                    NaN                   NaN                      NaN
 4                    NaN                   NaN                      NaN
 ...                  ...                   ...                      ...
 3226                 NaN                   NaN                      NaN
 3227                 NaN                   NaN                      NaN
 3228                 NaN                   NaN                      NaN
 3229                 NaN                   NaN                      NaN
 3230                 NaN                   NaN                      NaN

      substitution_outcome_name  substitution_replacement_id  \
 0                          NaN                          NaN
 1                          NaN                          NaN
 2                          NaN                          NaN
 3                          NaN                          NaN
 4                          NaN                          NaN
 ...                        ...                          ...
 3226                       NaN                          NaN
 3227                       NaN                          NaN
 3228                       NaN                          NaN
 3229                       NaN                          NaN
 3230                       NaN                          NaN

      substitution_replacement_name  off_camera shot_redirect pass_goal_assist  \
 0                              NaN         NaN           NaN              NaN
 1                              NaN         NaN           NaN              NaN
 2                              NaN         NaN           NaN              NaN
 3                              NaN         NaN           NaN              NaN
 4                              NaN         NaN           NaN              NaN
 ...                            ...         ...           ...              ...
 3226                           NaN         NaN           NaN              NaN
 3227                           NaN         NaN           NaN              NaN
 3228                           NaN         NaN           NaN              NaN
 3229                           NaN         NaN           NaN              NaN
 3230                           NaN         NaN           NaN              NaN

      match_id
 0       19751
 1       19751
 2       19751
 3       19751
 4       19751
 ...       ...
 3226    19751
 3227    19751
 3228    19751
 3229    19751
 3230    19751

 [3231 rows x 102 columns],
 (17,
  35):                                         id  index  period     timestamp  \
 0     39780c92-1d64-4baa-a888-f0a0ff3f9ce4      1       1  00:00:00.000
 1     9725775f-7a37-42b6-9c05-4f8bddc58065      2       1  00:00:00.000
 2     624c93ad-9345-407c-8c06-fb17b2e1c6e6      3       1  00:00:00.000
 3     a2ac2c71-d29b-4c9e-9de4-c109ca5b33fe      4       1  00:00:00.000
 4     070de1fd-5b14-4dfa-964b-8bfca509e1fd      5       1  00:00:00.374
 ...                                    ...    ...     ...           ...
 2762  f257fcab-3a30-45ac-bc93-2a5d18dd5189   2763       2  00:52:10.104
 2763  08ced722-12f4-407a-9471-77d7c5eb9316   2764       2  00:52:11.527
 2764  363ef1fa-5133-4228-8459-d8900ef4d1e4   2765       2  00:52:12.771
 2765  162406d4-70c7-489a-8494-e981f7022867   2766       2  00:52:14.095
 2766  7701d10e-af61-429a-982d-bc54b3938142   2767       2  00:52:14.095

       minute  second  possession  duration  type_id      type_name  ...  \
 0          0       0           1  0.000000       35    Starting XI  ...
 1          0       0           1  0.000000       35    Starting XI  ...
 2          0       0           1  0.000000       18     Half Start  ...
 3          0       0           1  0.000000       18     Half Start  ...
 4          0       0           2  1.553622       30           Pass  ...
 ...      ...     ...         ...       ...      ...            ...  ...
 2762      97      10         200  2.667100       30           Pass  ...
 2763      97      11         200  0.532693       17       Pressure  ...
 2764      97      12         200       NaN       42  Ball Receipt*  ...
 2765      97      14         200  0.000000       34       Half End  ...
 2766      97      14         200  0.000000       34       Half End  ...

       goalkeeper_punched_out shot_one_on_one  substitution_outcome_id  \
 0                        NaN             NaN                      NaN
 1                        NaN             NaN                      NaN
 2                        NaN             NaN                      NaN
 3                        NaN             NaN                      NaN
 4                        NaN             NaN                      NaN
 ...                      ...             ...                      ...
 2762                     NaN             NaN                      NaN
 2763                     NaN             NaN                      NaN
 2764                     NaN             NaN                      NaN
 2765                     NaN             NaN                      NaN
 2766                     NaN             NaN                      NaN

      substitution_outcome_name  substitution_replacement_id  \
 0                          NaN                          NaN
 1                          NaN                          NaN
 2                          NaN                          NaN
 3                          NaN                          NaN
 4                          NaN                          NaN
 ...                        ...                          ...
 2762                       NaN                          NaN
 2763                       NaN                          NaN
 2764                       NaN                          NaN
 2765                       NaN                          NaN
 2766                       NaN                          NaN

      substitution_replacement_name  miscontrol_aerial_won  \
 0                              NaN                    NaN
 1                              NaN                    NaN
 2                              NaN                    NaN
 3                              NaN                    NaN
 4                              NaN                    NaN
 ...                            ...                    ...
 2762                           NaN                    NaN
 2763                           NaN                    NaN
 2764                           NaN                    NaN
 2765                           NaN                    NaN
 2766                           NaN                    NaN

      player_off_permanent pass_goal_assist match_id
 0                     NaN              NaN    19803
 1                     NaN              NaN    19803
 2                     NaN              NaN    19803
 3                     NaN              NaN    19803
 4                     NaN              NaN    19803
 ...                   ...              ...      ...
 2762                  NaN              NaN    19803
 2763                  NaN              NaN    19803
 2764                  NaN              NaN    19803
 2765                  NaN              NaN    19803
 2766                  NaN              NaN    19803

 [2767 rows x 118 columns],
 (17,
  52):                                         id  index  period     timestamp  \
 0     4a4e746e-3c26-4b94-be27-256b3e354668      1       1  00:00:00.000
 1     88f96b11-7890-4cca-8578-e956b0b624cb      2       1  00:00:00.000
 2     ea405952-7671-4595-bd47-09518376c9fa      3       1  00:00:00.000
 3     aab11fd3-fcc4-4b23-88b5-7e714500ed61      4       1  00:00:00.000
 4     72c3344a-c828-42f0-a7e5-61fae10b361e      5       1  00:00:01.430
 ...                                    ...    ...     ...           ...
 2255  05e78c68-34a4-412f-8521-661841d9750f   2256       2  00:48:11.210
 2256  55cbca11-4810-4e9c-b067-cc567ea66d41   2257       2  00:48:13.078
 2257  d8bba180-f1f7-4067-a692-61f44d797d89   2258       2  00:48:13.078
 2258  f1f0f613-e990-4e6c-8c8b-a83bef54e1eb   2259       2  00:48:14.280
 2259  13b759c7-810a-4995-b3f3-ae4aee28ad7f   2260       2  00:48:14.280

       minute  second  possession  duration  type_id      type_name  ...  \
 0          0       0           1    0.0000       35    Starting XI  ...
 1          0       0           1    0.0000       35    Starting XI  ...
 2          0       0           1    0.0000       18     Half Start  ...
 3          0       0           1    0.0000       18     Half Start  ...
 4          0       1           2    2.2640       30           Pass  ...
 ...      ...     ...         ...       ...      ...            ...  ...
 2255      93      11         213    1.8685       30           Pass  ...
 2256      93      13         213       NaN       42  Ball Receipt*  ...
 2257      93      13         213    0.0000        9      Clearance  ...
 2258      93      14         213    0.0000       34       Half End  ...
 2259      93      14         213    0.0000       34       Half End  ...

       foul_committed_type_id foul_committed_type_name  \
 0                        NaN                      NaN
 1                        NaN                      NaN
 2                        NaN                      NaN
 3                        NaN                      NaN
 4                        NaN                      NaN
 ...                      ...                      ...
 2255                     NaN                      NaN
 2256                     NaN                      NaN
 2257                     NaN                      NaN
 2258                     NaN                      NaN
 2259                     NaN                      NaN

       injury_stoppage_in_chain pass_cut_back  substitution_outcome_id  \
 0                          NaN           NaN                      NaN
 1                          NaN           NaN                      NaN
 2                          NaN           NaN                      NaN
 3                          NaN           NaN                      NaN
 4                          NaN           NaN                      NaN
 ...                        ...           ...                      ...
 2255                       NaN           NaN                      NaN
 2256                       NaN           NaN                      NaN
 2257                       NaN           NaN                      NaN
 2258                       NaN           NaN                      NaN
 2259                       NaN           NaN                      NaN

      substitution_outcome_name  substitution_replacement_id  \
 0                          NaN                          NaN
 1                          NaN                          NaN
 2                          NaN                          NaN
 3                          NaN                          NaN
 4                          NaN                          NaN
 ...                        ...                          ...
 2255                       NaN                          NaN
 2256                       NaN                          NaN
 2257                       NaN                          NaN
 2258                       NaN                          NaN
 2259                       NaN                          NaN

      substitution_replacement_name foul_committed_offensive match_id
 0                              NaN                      NaN    19719
 1                              NaN                      NaN    19719
 2                              NaN                      NaN    19719
 3                              NaN                      NaN    19719
 4                              NaN                      NaN    19719
 ...                            ...                      ...      ...
 2255                           NaN                      NaN    19719
 2256                           NaN                      NaN    19719
 2257                           NaN                      NaN    19719
 2258                           NaN                      NaN    19719
 2259                           NaN                      NaN    19719

 [2260 rows x 100 columns],
 (17,
  57):                                         id  index  period     timestamp  \
 0     160590e0-f4f2-4377-b553-0829d70da5c7      1       1  00:00:00.000
 1     3a65640a-7755-41e0-b9c2-b8fdb0ca8977      2       1  00:00:00.000
 2     191c1b51-7d3a-4cf7-9477-0ae36885d5b1      3       1  00:00:00.000
 3     1b02d3d0-243e-4323-8aee-c3c56675be6e      4       1  00:00:00.000
 4     8f7c54ca-de12-44d1-ab89-c393ba644dc5      5       1  00:00:00.823
 ...                                    ...    ...     ...           ...
 2896  6ecddc5e-c7cb-44d9-9a35-494ae91ac9c3   2897       2  00:53:12.880
 2897  7e83c1d9-b387-4a5b-b509-8c36130764f8   2898       2  00:53:14.510
 2898  fb45cabe-6267-4a1d-b3fa-a0f9b9d30d81   2899       2  00:53:18.494
 2899  73410fb2-cc45-4a91-90c1-ed06a1c8bdc1   2900       2  00:53:27.655
 2900  66f6b973-2963-4419-b8f6-ae24c15dd066   2901       2  00:53:27.655

       minute  second  possession  duration  type_id      type_name  ...  \
 0          0       0           1  0.000000       35    Starting XI  ...
 1          0       0           1  0.000000       35    Starting XI  ...